<mat-card class="workzone">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>dashboard</mat-icon>
      <span class="title">Controls</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section class="command-button-block">
      <button mat-raised-button color="primary" (click)="toggleStreaming()">
        {{ displayStreamingButton$ | async }}
      </button>
    </section>
    <section class="command-button-block">
      <button mat-raised-button color="primary" (click)="toggleRecording()">
        {{ displayRecordingButton$ | async }}
      </button>
    </section>
  </mat-card-content>
</mat-card>
